body{
	background:rgba(195, 238, 236, 0.966);
   margin: 0px;
   padding: 0px;
   background-color: #eeebeb;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2300ffff'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='' cx='500' cy='100' r='40'/%3E%3Cpath transform='' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
   background-attachment: fixed;
   background-size: cover;
   height: 100vh;
   }
   /* #LCO
  {

	border-radius: 50%;	
	float: left;

	height:600px;
	margin-top: 100px; 

	 margin-left: 10%;
  }  */
   /* #LCO img
{
  margin-top: 50%;
} */
#container
{    width:45%;
   height:95%;
	background: #67E6DC;
	display:flex;
	justify-content:center; 
	align-items:center;
	flex-direction:column;
   /* margin-left: auto;
   margin-right: 5%; */
   margin:0em auto;
   padding-top: 20px;
   padding-bottom: 20px; 
   
}	
.controls
{   display:flex;
   /*justify-content:center; */
  align-items: center;
  flex-direction:column;
   background-color: azure;
   height: 95%;
   width:95%;
   /* text-align: center; */
	padding-top: 60px;  
	
   
}
/* Adding button the controls pane ------------------------------ */
.controls .add
{
  
   border-radius: 30px;
   width:40%;
   height:10%;
   box-shadow: inset 3px 3px 3px grey,2px 2px 2px grey;
   font-weight: bold;

}

.controls .remove
{
   border-radius: 30px;
   width:40%;
   height:8%;
   box-shadow: inset 3px 3px 3px grey,2px 2px 2px grey;
   font-weight: bold;
   
}
/*Hove over the button---------------------------------------------*/
.controls .add:hover
{
  color: red;
  transform:skewX(10deg);
  
  
}
.controls .remove:hover
{
  color: red;
  
}
/*-------------------------------------------------------------------*/
.controls ul{
   width: 80%;
   height: 60%;
  
   overflow:scroll;
 }
.controls ul li
{  border: px solid grey;
   width:90%;
   height: 40px;
   border-radius: 20px;
   box-shadow:inset 3px 3px 3px grey, 4px 4px 4px grey;
   list-style-type: none;
   /* justify-content: center; */
   margin-bottom:10px ;

} 
/* first one is use for setting boundry in which all todo will be place
  second one will be used for setting width of each li  ie rounded space which text*/
.controls ul li label
{  
  text-align: center;
  margin-left:3% ;
  font-size: 20px; 
  vertical-align:auto;  
  
}
.controls ul li #check
{
   width:20px;
   height:20px;
   margin:3%;

}
.controls ul li #check:checked +label
{
   text-decoration: line-through;
}
